[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python3 main.py"

[packages]
langchain = "*"
openai = "<1.0.0"
python-dotenv = "*"
tiktoken = "*"
chroma = "*"
chromadb = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.11"
