[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python3 ./main.py"

[packages]
docker = "*"
pyautogen = "*"
pymemgpt = "*"

[dev-packages]

[requires]
python_version = "3.11"
